{% extends 'core/base.html'%}

{% block script %}

{% if studentChangeSucess %}

    <script type="text/javascript" >
        $(document).ready(function(){
            $("#myModal").modal("show");
        });
    </script>

{% endif %}

<script type="text/javascript" >
    $(document).ready(function(){
        $("#okBtn").click(function(){
            $(window.document.location).attr('href',"/managerStudent/");
        });
    });
</script>


{% endblock %}

{%block crumb%}

    <li>
        <a href="{% url 'core_add_student'%}">Usuários</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'core_manager_student'%}">Aluno</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="#">Alterar</a>
    </li>
{% endblock %}

{%block content%}

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <h3>Estudante alterado com sucesso!</h3>
    </div>

    <div class="modal-footer">
        <a href="#" id="okBtn" class="btn btn-primary" data-dismiss="modal" >OK</a>
    </div>
</div>

     <form class="well"  method="POST" action="/managerStudent/change/{{student.id}}/">
        {% csrf_token %}
        <div class="control-group">
            <div class="control-group warning">
                <span class="label" >Nome</span>
                <div class="controls">
                    {{form.first_name}}
                    <span id="first_name_error" class="help-inline">
                        {{form.first_name.errors}}
                    </span>
                </div>
            </div>

            <div class="control-group warning">
                <span class="label" >Sobrenome</span>
                <div class="controls">
                    {{form.last_name}}
                    <span id="last_name_error" class="help-inline">
                        {{form.last_name.errors}}
                    </span>
                </div>
            </div>

            <div class="control-group warning">
                <span class="label" >Email</span>
                <div class="controls">
                    {{form.email}}
                    <span id="email_error" class="help-inline">
                        {{form.email.errors}}
                    </span>
                </div>
            </div>


            <div class="control-group warning">
                <span class="label" >Usuário</span>
                <div class="controls">
                    {{form.username}}
                    <span id="username_error" class="help-inline">
                        {{form.username.errors}}
                    </span>
                </div>
            </div>


            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </form>


{%endblock%}