{% extends 'core/base.html'%}

{% block title %} Administrador - Lerni {% endblock title%}

{% block crumb %}

<li>
    <a href="#">Usuários</a>
</li>
{% endblock %}

{% block content %}

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well">
                <h2>Usuários</h2>
            </div>
        </div>

        <div class="box-content">
            <a data-rel="tooltip" title="" class="well span3 top-block" href="/managerStudent/">
                <span class="icon32 icon-green icon-user"></span>
                <div>Aluno</div>
            </a>

            <a data-rel="tooltip" title="" class="well span3 top-block" href="/managerTeacher/">
                <span class="icon32 icon-green icon-user"></span>
                <div>Professor</div>
            </a>
        </div>
    </div>

{% endblock %}