{% extends 'core/base.html'%}
{%block crumb%}


{% endblock %}

{% block content%}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well">
            <h2>Seja Bem Vindo!</h2>
        </div>
        <div class="box-content">

           <a data-rel="tooltip" title="" class="well span3 top-block" href="#">
               <span class="icon32 icon-green icon-book"></span>
               <div>Lição Atual</div>
                {% if student.study_context.finished == 1%}
                    <p>Curso Concluído</p>
                {% else %}
                    {{student.study_context.current_topic}}
                {% endif %}
           </a>
           <div class="span4">
               <div class="well">
                   <h3>Concluído</h3>
                    <div class="progress">
                        <div class="bar" style="width: {{percentage_of_completed_topics}};">{{percentage_of_completed_topics}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
