{% extends 'core/base.html'%}

{% block script %}

    {% if addTopicSucess %}
        <script type="text/javascript" >
            $(document).ready(function(){
                $("#myModal").modal("show");
            });
        </script>

    {% endif %}
        <script type="text/javascript" >
            $(document).ready(function(){
                $("#noBtn").click(function(){
                    $(window.document.location).attr('href',"/domain/topic/");
                });
            });
    </script>



{% endblock %}

{%block crumb%}

    <li>
        <a href="{% url 'domain_index'%}">Domínio</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'domain_topic'%}">Tópico</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="#">Adiciona</a> <span class="divider">/</span>
    </li>

{% endblock %}

{% block content%}

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <h3>Tópico adicionado com sucesso!</h3>
    </div>
        <div class="modal-body">
            <h5> </h5>
            <h4>Deseja adicionar outro?</h4>
        </div>

        <div class="modal-footer">
            <a href="#" id="yesBtn" class="btn btn-primary" data-dismiss="modal" >Sim</a>
            <a href="#" id="noBtn" class="btn" data-dismiss="modal">Não</a>
        </div>
</div>



<form action="/domain/topic/add/" method="POST" class="well" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="control-group">
        <div class="control-group warning">
            <span class="label" >Título</span>
            <div class="controls">
                {{form.title}}
                <span id="title_error" class="help-inline">
                    {{form.title.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Posição</span>
            <div class="controls">
                {{form.position}}
                <span id="title_error" class="help-inline">
                    {{form.position.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Número de Questões Teóricas</span>
            <div class="controls">
                {{form.number_question_theoretical}}
                <span id="title_error" class="help-inline">
                    {{form.number_question_theoretical.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Número de Questões Práticas</span>
            <div class="controls">
                {{form.number_question_pratical}}
                <span id="title_error" class="help-inline">
                    {{form.number_question_pratical.errors}}
                </span>
            </div>
        </div>



        <button class="btn btn-primary" type="submit">Salvar</button>

</form>

{% endblock %}


