{% extends 'core/base.html' %}
{% block script %}
<script src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
CKEDITOR.replace("id_content_page", {"filebrowserWindowWidth": 940,
    "toolbar_Basic": [["Source", "-", "Bold", "Italic"]],
    "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]],
    "filebrowserUploadUrl": "/ckeditor/upload/",
    "height": 291,
    "width": 835,
    "filebrowserBrowseUrl": "/ckeditor/browse/",
    "skin": "moono",
    "filebrowserWindowHeight": 725,
    "toolbar": "Full"
    });

CKEDITOR.replace("id_reminder", {"filebrowserWindowWidth": 940,
    "toolbar_Basic": [["Source", "-", "Bold", "Italic"]],
    "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]],
    "filebrowserUploadUrl": "/ckeditor/upload/",
    "height": 191,
    "width": 835,
    "filebrowserBrowseUrl": "/ckeditor/browse/",
    "skin": "moono",
    "filebrowserWindowHeight": 725,
    "toolbar": "Full",
    "language":"pt-br",
    });

</script>


    {% if pageChangeSucess %}

    <script type="text/javascript" >
        $(document).ready(function(){
            $("#myModal").modal("show");
        });
    </script>

{% endif %}

<script type="text/javascript" >

        $(document).ready(function(){
            $("#okBtn").click(function(){
                $(window.document.location).attr('href',"/domain/topic/{{topic.id}}/page/");
            });
        });

</script>
{% endblock %}

{%block crumb%}
     <li>
        <a href="{% url 'domain_index'%}">Domínio</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'domain_topic'%}">Tópico</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="#">Página</a> <span class="divider">/</span>
    </li>

    <li>
        <a href="#">Alterar</a> <span class="divider">/</span>
    </li>



{% endblock %}

{% block content%}

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <h3>Página alterada com sucesso!</h3>
    </div>

    <div class="modal-footer">
        <a href="#" id="okBtn" class="btn btn-primary" data-dismiss="modal" >OK</a>
    </div>
</div>


<form action="/domain/topic/page/change/{{page.id}}/" method="POST" class="well" enctype="multipart/form-data" >
    {% csrf_token %}

    <div class="control-group">
        <div class="control-group warning">
            <span class="label" >Número</span>
            <div class="controls">
                {{form.number}}
                <span id="title_error" class="help-inline">
                    {{form.number.errors}}
                </span>
            </div>
        </div>


         <div class="control-group warning">

            <div class="controls">
                {{form.content_page}}
                <span id="content_page_error" class="help-inline">
                    {{form.content_page.errors}}
                </span>
            </div>
        </div>

        <div class="control-group">
        <div class="control-group warning">
            <span class="label" >Reforço</span>
            <div class="controls">
                {{form.reminder}}
                <span id="reminder_error" class="help-inline">
                    {{form.reminder.errors}}
                </span>
            </div>
        </div>

    </div>

        <button class="btn btn-primary" type="submit">Alterar</button>

</form>

{% endblock %}


