{% extends 'core/base.html'%}

{% block title%}Adiciona - Exercício{% endblock%}
{% block script %}

    <script src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace("id_question", {"filebrowserWindowWidth": 940,
    "toolbar_Basic": [["Source", "-", "Bold", "Italic"]],
    "toolbar_Full": [["Styles", "Format", "Bold", "Italic", "Underline", "Strike", "SpellChecker", "Undo", "Redo"], ["Image", "Flash", "Table", "HorizontalRule"], ["TextColor", "BGColor"], ["Smiley", "SpecialChar"], ["Source"]],
    "filebrowserUploadUrl": "/ckeditor/upload/",
    "height": 200,
    "width": 900,
    "filebrowserBrowseUrl": "/ckeditor/browse/",
    "skin": "moono",
    "filebrowserWindowHeight": 725,
    "toolbar": "Full"
    });
</script>

        {% if exerciseChangeSucess %}

    <script type="text/javascript" >
        $(document).ready(function(){
            $("#myModal").modal("show");
        });
    </script>

{% endif %}

<script type="text/javascript" >

        $(document).ready(function(){
            $("#okBtn").click(function(){
                $(window.document.location).attr('href',"/domain/exercise/");
            });
        });

</script>



{% endblock %}

{%block crumb%}

    <li>
        <a href="{% url 'domain_index'%}">Domínio</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="/domain/exercise/">Exercícios</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="#">Alterar</a> <span class="divider">/</span>
    </li>

{% endblock %}

{% block content%}

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <h3>Exercício alterado com sucesso!</h3>
    </div>

    <div class="modal-footer">
        <a href="#" id="okBtn" class="btn btn-primary" data-dismiss="modal" >OK</a>
    </div>
</div>



<form action="/domain/exercise/change/{{exercise.id}}/" method="POST" class="well" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="control-group">
        <div class="control-group warning">
            <span class="label" >Tópico</span>
            <div class="controls">
                {{form.topic}}
                <span id="title_error" class="help-inline">
                    {{form.topic.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Tipo</span>
            <div class="controls">
                {{form.kind}}
                <span id="title_error" class="help-inline">
                    {{form.kind.errors}}
                </span>
            </div>
        </div>


        <div class="control-group warning">
            <span class="label" >Questão</span>
            <div class="controls">
                {{form.question}}
                <span id="title_error" class="help-inline">
                    {{form.question.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Resposta 1</span>
            <div class="controls">
                {{form.answer1}}
                <span id="title_error" class="help-inline">
                    {{form.answer1.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Resposta 2</span>
            <div class="controls">
                {{form.answer2}}
                <span id="title_error" class="help-inline">
                    {{form.answer2.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Resposta 3</span>
            <div class="controls">
                {{form.answer3}}
                <span id="title_error" class="help-inline">
                    {{form.answer3.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Resposta 4</span>
            <div class="controls">
                {{form.answer4}}
                <span id="title_error" class="help-inline">
                    {{form.answer4.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Resposta Correta</span>
            <div class="controls">
                {{form.correctAnswer}}
                <span id="title_error" class="help-inline">
                    {{form.correctAnswer.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Nível</span>
            <div class="controls">
                {{form.level}}
                <span id="title_error" class="help-inline">
                    {{form.level.errors}}
                </span>
            </div>
        </div>

        <div class="control-group warning">
            <span class="label" >Tempo Provável de Reposta</span>
            <div class="controls">
                {{form.time}}
                <span id="title_error" class="help-inline">
                    {{form.time.errors}}
                </span>
            </div>
        </div>



    <button class="btn btn-primary" type="submit">Alterar</button>

    </div>
</form>

{% endblock %}


