{% extends 'core/base.html'%}

{% block script %}
    {% if deletePageSucess %}

        <script type="text/javascript" >
            $(document).ready(function(){
                $("#myModal").modal("show");
            });
        </script>

    {% endif %}
        <script type="text/javascript" >
            $(document).ready(function(){
                $("#okBtn").click(function(){

                    $(window.document.location).attr('href',"/domain/topic/"+$("#topic").val()+"/page/");
                });
            });
        </script>

{% endblock %}

{% block content %}
    <input type"hidden" id="topic" value="{{topic.id}}">
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <h4>Página deletada com sucesso!</h4>
        </div>

        <div class="modal-footer">
            <a href="#" id="okBtn" class="btn btn-primary" data-dismiss="modal" >OK</a>

    </div>

{% endblock %}