{% extends 'core/base.html'%}
{% block script %}

<script src="{{ STATIC_URL }}js/classRoom.js"></script>

<script type="text/javascript">

function nextPage(){

        $("#myModal").modal("show");

}


</script>

{% endblock %}
{%block crumb%}
    <li>
        <a href="/student/">Home</a> <span class="divider">/</span>

    </li>
    <li>
        <a href="#">Sala de Aula</a>

    </li>


{% endblock %}


{% block content%}

<div class="row-fluid sortable">
    <div class="box span12">

        <div class="box-header well">
            <h2>{{topic_page.topic.title}}</h2>
        </div>

        <div id='content_page' class="box-content">
            <form name="frm_content" class="well"  method="POST" action="/classRoom/getPage/{{student.id}}/">
                {% csrf_token %}
                {{topic_page.content_page|safe}}

                {%if student.level_learning == 'guide' %}

                <div class="modal hide fade" id="myModal">
                    <div id="modal_header" class="modal-header">

                    </div>
                    <div id="modal_body" class="modal-body">
                        {{topic_page.reminder|safe}}
                    </div>

                    <div class="modal-footer">
                        {% if content_page.has_next %}
                        <button class="btn btn-primary" name="next" type="submit" >Ok</button>
                        {% else %}
                        <button class="btn btn-primary" name="next" type="submit">Ok</button>
                        {% endif %}
                    </div>
                </div>
                {% endif %}


                <center>

                    {% if content_page.has_previous %}
                    <input type="hidden" name="page_previous" id="page_previous" value="{{content_page.previous_page_number}}" />
                    <button class="btn btn-primary" name="previous" type="submit">Anterior</button>
                    {% endif %}

                    <span class="current">
                        {{ content_page.number }} de {{ content_page.paginator.num_pages }}
                    </span>

                    {% if content_page.has_next %}
                    <input type="hidden" name="page_next" id="page_next" value="{{content_page.next_page_number}}" />
                    {% if student.level_learning == 'guide' %}
                    <button onClick="nextPage()" class="btn btn-primary" name="next" type="button" >Próximo</button>
                    {% else %}
                    <button class="btn btn-primary" name="next" type="submit" >Próximo</button>
                    {% endif %}
                    {% else %}
                    <input type="hidden" name="page_next" id="page_next" value="{{content_page.paginator.num_pages|add:'1'}}" />
                    {% if student.level_learning == 'guide' %}
                    <button onClick="nextPage()" class="btn btn-primary" name="next" type="button">Finalizar</button>
                    {% else %}
                    <button class="btn btn-primary" name="next" type="submit">Finalizar</button>
                    {% endif %}
                    {% endif %}

                </center>

            </form>

        </div>
</div>

{% endblock %}
