{% extends 'core/base.html'%}
{% block script %}

<script src="{{ STATIC_URL }}js/classRoom.js"></script>

<script type="text/javascript">
    $(document).ready(function(){



    });

</script>

{% endblock %}
{%block crumb%}
    <li>
        <a href="/student/">Home</a> <span class="divider">/</span>

    </li>
    <li>
        <a href="#">Sala de Aula</a>

    </li>


{% endblock %}


{% block content%}

<div class="row-fluid sortable">
    <div class="box span12">

        <div class="box-header well">
            <h2>Exercício</h2>
        </div>

        <div id='content_page' class="box-content">

            <p> Final do exercício do tópico: {{topic}} </p>

            <p>Nota: {{grade.grade_final}}</p>

            {% if grade.grade_final < 6%}
                <p>Você irá repetir o tópico: {{topic}} </p>
            {% else %}
                {% if student.study_context.finished == 1 %}
                    <p>Você terminou o último tópico do curso! Parabéns</p>
                {% else %}
                    <p>Você irá para o tópico: {{next_topic}} </p>
                {% endif %}
            {% endif %}

            <table id="answersTable" class="table table-striped table-bordered bootstrap-datatable ">
                <thead>
                    <tr>
                        <th>Questão</th>
                        <th>Resposta</th>
                        <th>Resposta Corrreta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for answer in answers_detail %}

                    <tr>

                        <td><center>{{answer.0}}</center></td>
                        <td><center>{{answer.1}}</center></td>
                        <td><center>{{answer.2}}</center></td>
                        <td>
                            {% if answer.3 %}
                                Acertou
                            {% else %}
                                Errou
                            {% endif %}

                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        <center>
            {% if student.study_context.finished == 1 %}
            <a  href="/student/" class="btn btn-large btn-primary">
            <button class="btn btn-primary" name="first_submit" type="button">Parabéns! Clique aqui para finalizar!</button>
            </a>
            {% else %}
            <a  href="/classRoom/" class="btn btn-large btn-primary">
            <button class="btn btn-primary" name="first_submit" type="button">Continuar</button>
            </a>
            {% endif %}
        </center>
        </div>

    </div>
</div>

{% endblock %}
